[submodule "src/charset/common-standard-chinese-characters-table"]
	path = src/charset/common-standard-chinese-characters-table
	url = git@github.com:shengdoushi/common-standard-chinese-characters-table.git
[submodule "OpenCL-SDK"]
	path = OpenCL-SDK
	url = https://github.com/KhronosGroup/OpenCL-SDK.git
